extends ../layouts/master

block styles
  link(rel='stylesheet', href='/stylesheets/user/login.css')

block content
  .container
    .row.text-center
      form.form-signin(method='POST', action='/user/login')
        img.mb-4(src='https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg', alt='CondAn', width='72', height='72')
        h1.h3.mb-3.font-weight-normal Please sign in
        label.sr-only(for='userName') Username
        input.form-control(type='text', placeholder='Username', required='true', autofocus='', name="username")

        label.sr-only(for='userPassword') Password
        input.form-control(type='password', placeholder='Password', required='true', name="password")

        div.mb-3
          a(href='/user/register') Register

        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        p.mt-5.mb-3.text-muted &copy; 2017-2018


