extends ../layouts/master
block styles
  link(rel='stylesheet', href='/stylesheets/user/login.css')

block content
  .container
    .row.text-center
      form.form-signin(method='POST', action='/user/register')
        h1.h3.mb-3.font-weight-normal Register
        if formDetails 
          label.sr-only(for='name') Name
          input.form-control(type='text', placeholder='Name', required='true', name="name", value='#{formDetails.name}')

          label.sr-only(for='email') Email
          input.form-control(type='text', placeholder='Email', required='true', name="email", value='#{formDetails.email}')

          label.sr-only(for='username') Username
          input.form-control(type='text', placeholder='Username', required='true', name="username", value='#{formDetails.username}')

          label.sr-only(for='userPassword') Password
          input.form-control(type='password', placeholder='Password', required='true', name="password")

          label.sr-only(for='password2') Re-type Password
          input.form-control(type='password', placeholder='Re-type Password', required='true', name="password2")
        else 
          label.sr-only(for='name') Name
          input.form-control(type='text', placeholder='Name', required='true', autofocus='', name="name")

          label.sr-only(for='email') Email
          input.form-control(type='text', placeholder='Email', required='true', autofocus='', name="email")

          label.sr-only(for='username') Username
          input.form-control(type='text', placeholder='Username', required='true', autofocus='', name="username")

          label.sr-only(for='userPassword') Password
          input.form-control(type='password', placeholder='Password', required='true', name="password")

          label.sr-only(for='password2') Re-type Password
          input.form-control(type='password', placeholder='Re-type Password', required='true', name="password2")
        div.mb-3.mt-2
          a(href='/user/login') Login

        button.btn.btn-md.btn-primary.btn-block(type='submit') Submit
        //- p.mt-5.mb-3.text-muted &copy; 2017-2018

        if errors
            p.text-danger.mt-3 #{errors[0].msg}


